.mainpage{
  
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
    align-self: center;
    
}

  .header{
    color: antiquewhite;
    position:absolute;
    top:20%;
    bottom: 0;
    left: 25%;
    right: 0%;
  
    
    margin: auto;
   
    /*margin-top:1%;    
    margin-left: 33%;*/
  }
  .content{
    color: antiquewhite;
    position: absolute;
    top:30%;
    bottom: 0;
    left: 20%;
    right: 0%;
    /*margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top:1%;    
    margin-left: 30%;*/
  }
  .contact{
    background: rgb(74, 77, 90);
     border: 3px solid white;
    color: antiquewhite;
    align-items: center;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:30%;
    bottom: 20%;
    left: 22%;
    right: 0%;
  }
  .about{
    background: rgb(74, 77, 90);
     border: 3px solid white;
    color: antiquewhite;
    align-items: center;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:30%;
    bottom: 20%;
    left: 22%;
    right: 0%;
   
  }
  .about p{
    text-indent: 2px;
    margin: 5px;
    padding: 10px;
   
  }
  